html, body {
    margin: 0;
    padding: 0;
    font-size: 16px; /* 12 pt */
}

#main {
    height: 100%;
}

.initial-background-required {
    background-color: initial !important;
}

#instructions {
    color: darkgray;
    font-family: verdana, sans-serif;
    font-size: 18px;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 70%;
}

#set-tab-size, #set-ppc-font-size {
    width: 34px;
}

#toolbar {
    font-size: 12px;
}

#pretty-code {
    font-family: Consolas;
}